{% extends 'default/base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}

    <div class="meetgate">
        <div class="container-fluid event">
            <div class="main">

                <div class="content intro">
                    <div class="row font first">
                        <div class="col-md-5 display">
                            <img src="{{ event.picture }}" alt="{{ event.picture }}">
                        </div>
                        <div class="col-md-7 aside">
                            <h1>{{ event.title }}</h1>
                            <hr>
                            <div class="desc">
                                <p>
                                    {{ event.description }}
                                </p>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong>Date : </strong>{{ event.dateEvent|date('l d F Y') }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong>Duration : </strong>
                                        {{ (event.duration > 1) ? event.duration ~ ' days' : event.duration ~ ' day' }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong>Price : </strong>
                                        <span class="price">{{ (event.price > 0) ? '$' ~ event.price : 'Gratuit' }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong>Tags : </strong>
                                        {% for tag in event.tags %}
                                            <a href="{{ url('tag', { id: tag.id }) }}" class="tag-link">
                                                <span class="badge badge-pill badge-success">{{ tag.name }}</span>&nbsp;
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong>Adress : </strong>
                                        {{ event.adress }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong>Members : </strong>
                                        {{ reserved }}/{{ event.places }}
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">

                                        {% if app.user == null %}

                                        <small class="ban">You have to be connected to participate</small><br>
                                        <button class="btn btn-success not-allowed" disabled>
                                            <i class="fas fa-ban"></i>&nbsp;Je participe
                                        </button>

                                        {% else %}

                                        <a href="{{ url('join', { id: event.id } ) }}" class="btn btn-success">Je participe</a>

                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content map">
                    <div class="row">
                        <div class="col-md-12">
                            <div id='map' style='width: 100%; min-height: 550px; height: 100%;'></div>
                        </div>
                    </div>
                </div>

                <div class="content talks">
                    <div class="row">

                        {% for talk in talks %}

                            {% set i = 0 %}

                            <div class="col-md-6 talks-back">
                                <div class="row talks-row">
                                    <div class="col-md-10 talk-title">
                                        <a href="{{ url('view', { id: talk.id } ) }}">
                                            <h2>{{ talk.title }}</h2>
                                        </a>
                                    </div>
                                    <div class="col-md-2 talk-rate">

                                        {% for rate in talk.rates %}

                                            {% set i = i + rate.stars %}
                                            <i class="fas fa-star"></i>

                                        {% endfor %}
                                        {% for iter in talk.rates|length..4 %}

                                            <i class="far fa-star"></i>

                                        {% endfor %}

                                    </div>
                                    <hr class="talk-hr">
                                    <div class="col-md-12 talk-desc">{{ talk.description }}</div>
                                    <hr class="talk-hr">
                                    <div class="col-md-12 talk-author">
                                        Talk animated by&nbsp;
                                        <a href="{{ url('user', { id: talk.author.id } ) }}">
                                            {{ talk.author.name|capitalize }}&nbsp;
                                            {{ talk.author.firstname }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>

                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <strong>LATITUDE : </strong><span id="lat"></span><br>
                            <strong>LONGITUDE : </strong><span id="lon"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>

        $(document).ready(function () {

            // $.get("https://nominatim.openstreetmap.org/search/" + "367 rue de Crespy" + "?format=json",
            $.get("https://nominatim.openstreetmap.org/search/" + "rue des allees" + "?format=json",
                function (data) {

                    console.log(data[0]);

                    $('#lat').append(data[0].lat);
                    $('#lon').append(data[0].lon);

                    var map = L.map('map');
                    map.setView([ data[0].lat, data[0].lon ], 15);

                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);

                    L.marker([ data[0].lat, data[0].lon ]).addTo(map).bindPopup('{{ event.adress }}').openPopup();
                }
            );

            $(document).ready(function(){
                $('.starrr').starrr({
                    rating: 3
                });
                $('#star1').starrr({
                    change: function(e, value){
                        if (value) {
                            $('.your-choice-was').show();
                            $('.choice').text(value);
                        } else {
                            $('.your-choice-was').hide();
                        }
                    }
                });
            });


        });

    </script>

    <script type="application/javascript">
        $(document).ready(function(){
           $('span.badge').hover(function(){
               $(this).toggleClass('badge-success');
               $(this).toggleClass('badge-warning');
           });
        });
    </script>

{% endblock %}