{% extends 'default/base.html.twig' %}

{% block title %}Oublie{% endblock %}

{% block body %}

  <div class="container login">
    <div class="spacer"></div>
    <h1>Mot de passe oublié</h1>

    <hr class="my-4">

    {% if alert is defined %}

      <div class="alert alert-dismissible alert-{{ type }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading {{ type }}">{{ title }}</h4>
        <p class="mb-0 {{ type }}">{{ msg }}</p>
      </div>

    {% endif %}

    <div class="row">
      <div class="col-md-12">

        <form action="{{ path('login') }}" method="post">

          <div class="form-group">
            <label for="username">Adresse email:</label>
            <input type="text" class="form-control" id="username" name="_username" aria-describedby="emailHelp"
                   placeholder="Adresse email"/>
          </div><br/>

          Already an account ?<a href="{{ url('login') }}" class="links"> Log me</a><br/>
          No account yet ?<a href="{{ url('register') }}" class="links"> Register</a><br/>

          <button type="submit" class="btn btn-primary connect-btn">Envoyer</button>

        </form>

      </div>
    </div>

  </div>

{% endblock %}