{% extends 'default/base.html.twig' %}

{% block title %}Password{% endblock %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="spacer"></div>
      </div>
    </div>
    <h1>Did you forgot something ?</h1>

    <hr class="my-4">

    <div class="row">
      <div class="col-md-12">

        {% include 'default/flashs.html.twig' %}

        {{ form_start(form) }}

          <div class="form-group">
            <label for="email">Email:</label>
            {{ form_widget(form.email, {
              'attr': {
                'class': 'form-control'
              },
              'id': 'email'
            }) }}
          </div>

          <button type="submit" class="btn btn-primary">
            <i class="fas fa-envelope"></i>&nbsp;Send me an email
          </button>

        {{ form_end(form) }}

        <div class="spacer"></div>
        Already an account ?<a href="{{ url('login') }}" class="links"> Log me</a><br/>
        Not member yet ?<a href="{{ url('register') }}" class="links"> Register</a><br/>
        <br>

      </div>
    </div>

  </div>

{% endblock %}