{% extends 'default/base.html.twig' %}

{% block title %}Create an event{% endblock %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="spacer"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>New Event</h1>
        <hr class="my-4">

        {{ form_start(form) }}

        <div class="form-group">
          <label for="title">Title : </label>
          {{ form_row(form.title, {
            'label': false,
            'attr': {
              'class': 'form-control',
              'id': 'title',
              'placeholder': 'Title'
            }
          }) }}
        </div>
        <div class="form-group">
          {{ form_row(form.dateEvent, {
            'label': false,
            'attr': {
              'class': 'form-control',
            },
          }) }}
        </div>
        <div class="form-group">
          <label for="title">Description : </label>
          {{ form_row(form.description, {
            'label': false,
            'attr': {
              'class': 'form-control',
              'rows': 5,
              'placeholder': 'Explain the goal of this event'
            }
          }) }}
        </div>
        <div class="custom-file">
          <label class="custom-file-label" for="customFile">Picture</label>
          {{ form_row(form.picture, {
            'label': false,
            'attr': {
              'class': 'custom-file-input',
              'type': 'file',
              'id': 'customFile',
              'placeholder': 'Upload the picture showed on the event page'
            }
          }) }}
        </div>
        <div class="form-group">
          <label for="title">Duration : </label>
          {{ form_row(form.duration, {
            'label': false,
            'attr': {
              'class': 'form-control',
              'placeholder': 'How many days doest it take'
            }
          }) }}
        </div>
        <div class="form-group">
          {{ form_row(form.price, {
            'label': false,
            'attr': {
              'class': 'form-control',
              'placeholder': 'Price of the entry'
            }
          }) }}
        </div>
        <div class="form-group">
          <label for="title">Adress : </label>
          {{ form_row(form.adress, {
            'label': false,
            'attr': {
              'class': 'form-control',
              'placeholder': 'Adress'
            }
          }) }}
        </div>
        <div class="form-group">
          <label for="title">Places : </label>
          {{ form_row(form.places, {
            'label': false,
            'attr': {
              'class': 'form-control',
              'placeholder': 'How many places available'
            }
          }) }}
        </div>
        <div class="form-group">
          <label class="form-check-label" for="tags">Tags : </label>
          {{ form_row(form.tags, {
            'label': false,
            'attr': {
              'class': 'form-check form-check-inline form-spacer',
              'type': 'checkbox',
              'id': 'tags'
            }
          }) }}
        </div>

        <button class="btn btn-success float-left article-edit-btn">
          <i class="fas fa-check"></i>&nbsp;{{ 'Appliquer'|default('Save') }}
        </button>

        {{ form_end(form) }}

      </div>
    </div>
  </div>

{% endblock %}