{% extends 'default/base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

  <div class="container-fluid">
    <div class="row">

      {% include 'admin/menu.html.twig' %}

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        {% include 'default/flashs.html.twig' %}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard (work in progress)</h1>
          <div class="btn-toolbar mb-2 mb-md-0">

            <form action="{{ url('admin') }}" method="post" id="myForm">

              <div class="input-group mb-3">
                <select class="form-control" id="sortBy">
                  <option value="0" selected disabled>Sort data by</option>
                  <option value="1">This week</option>
                  <option value="2">This month</option>
                  <option value="3">This year</option>
                </select>
              </div>


          </div>
        </div>

        <canvas class="my-4" id="myChart" width="900" height="380"></canvas>

        <h2>The last 10 events created</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Tags</th>
              <th>Descriptions</th>
              <th>Link</th>
            </tr>
            </thead>
            <tbody>

            {% for event in events %}

            <tr>
              <td><i class="fas fa-angle-right"></i></td>
              <td>{{ event.title }}</td>
              <td>
                {% for tag in event.tags %}
                  <a href="{{ url('tag', { id: tag.id }) }}" class="tag-link">
                    <span class="badge badge-pill badge-success">{{ tag.name }}</span>&nbsp;
                  </a>
                {% endfor %}
              </td>
              <td>
                {{ event.description|slice(0,80) }}
                <a href="{{ url('event', { id: event.id } ) }}">...read more</a>
              </td>
              <td>
                <a href="{{ url('event', { id: event.id } ) }}">
                  <i class="fas fa-eye"></i>
                </a>
              </td>
            </tr>

            {% endfor %}

            </tbody>
          </table>
        </div>

        <h2>The last 10 talks</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Descriptions</th>
              <th>Link</th>
              <th>Accept</th>
              <th>Refuse</th>
            </tr>
            </thead>
            <tbody>

            {% for talk in talks %}

            <tr>
              <td><i class="fas fa-angle-right"></i></td>
              <td>{{ talk.title }}</td>
              <td>
                {{ talk.description|slice(0,80) }}
                <a href="{{ url('talk', { id: talk.id } ) }}">...read more</a>
              </td>
              <td>
                <a href="{{ url('talk', { id: talk.id } ) }}">
                  <i class="fas fa-eye"></i>
                </a>
              </td>
              <td>
                <a href="{{ url('validate_talk', { id: talk.id } ) }}" class="badge badge-pill badge-success">
                  <i class="fas fa-check fa-green"></i>&nbsp;Accept
                </a>
              </td>
              <td>
                <a href="{{ url('refuse_talk', { id: talk.id } ) }}" class="badge badge-pill badge-danger">
                  <i class="fas fa-times fa-red"></i>&nbsp;Refuse
                </a>
              </td>
            </tr>

            {% endfor %}

            </tbody>
          </table>
        </div>

      </main>
    </div>
  </div>

  <script>
    $(function(){

      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [],
          datasets: [{
            data: [],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });

      // If you change the sorting filter
      $('#sortBy').change(function(){
        var sortId = $(this).val();

        $.ajax({
          url: '{{ url('sort') }}',
          type: 'GET',
          data: 'sort=' + sortId,
          success: function(data){

            console.log(data);

            var labels = data['display'];
            var myData = data['data'];

            var myChart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: labels,
                datasets: [{
                  data: myData,
                  lineTension: 0,
                  backgroundColor: 'transparent',
                  borderColor: '#007bff',
                  borderWidth: 4,
                  pointBackgroundColor: '#007bff'
                }]
              },
              options: {
                scales: {
                  yAxes: [{
                    ticks: {
                      stepSize: 1,
                      beginAtZero: true
                    }
                  }]
                },
                legend: {
                  display: false,
                }
              }
            });
          }
        });

      });
    });
  </script>

{% endblock %}
